.skin-blue .main-header .navbar {
    background-color: #72D54A;
}

.skin-blue .main-header .logo{
    background-color: #72D54A;
}

.skin-blue.layout-top-nav .main-header>.logo:hover{
    background-color: #72D54A;
}

.skin-blue .main-header li.user-header {
    background-color: #72D54A;
}

.skin-blue .main-sidebar{
    background-color: #646469;
}
